In [3]:
print("Hello World...!") #python 3 syntax

Hello World...!

In [4]:
print "Hello" #Python 2 syntax

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello" #Python 2 syntax)? (<ipython-input-4-0ac2b9750cd1>, line 1)

In [5]:
5+10

15

In [11]:
numbers=[1,2,3,4,5] #list data structure
print(numbers)
print(numbers[2])
print(numbers[2:4]) # : slicing operator
print(numbers[-1])

[1, 2, 3, 4, 5]
3
[3, 4]
5

In [17]:
import math
import random
import math as m
from math import *
print(math.sqrt(9))
print(math.pi)
print(math.pow(2,3))
print(abs(-10))
print(max(1,2,3,4,5))
print(min(1,2,3,4,5))
print(math.sin(60))
print(math.e)
print(math.log(4))
print(math.log10(100))
print(round(23.45678,2))
print(random.random())

nums=[1,2,3,4,5]
print(random.choice(nums))
random.shuffle(nums)
print(nums)
print(random.randrange(1,100,1))

3.0
3.141592653589793
8.0
10
5
1
-0.3048106211022167
2.718281828459045
1.3862943611198906
2.0
23.46
0.16416669672472028
5
[5, 1, 3, 4, 2]
81

In [28]:
import math
num = int(input("Enter a number: "))

# prime numbers are greater than 1
if num > 1:
   # check for factors
   for i in range(2,(num//2)+1):
       if (num % i) == 0:
           print(num,"is not a prime number")
           break
   else:
       print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

Enter a number: 23
23 is a prime number

In [19]:
age=10
gender='male'
section='msc'
height=6.2
Gender=20
AGE=50
_=10
print(age,gender,section,height,Gender,AGE,_)

x,y,z=1,2.5,"kiran"
print(x,y,z)
"""
Standard datatypes in python
1. Numbers
2. String
3. List
4. Tuple
5. Dictionary

Python supports 4 numerical types
1. int
2. float
3. long
4. complex
"""

10 male msc 6.2 20 50 10
1 2.5 kiran

'\nStandard datatypes in python\n1. Numbers\n2. String\n3. List\n4. Tuple\n5. Dictionary\n\nPython supports 4 numerical types\n1. int\n2. float\n3. long\n4. complex\n'

In [20]:
print("*****Creating and deleting object references*******")
var=10
print(var)
del var # del keyword used to delete the object reference.
#print(var)

*****Creating and deleting object references*******
10

In [21]:
print("******Experiment on String type*******")
str = 'Hello World..!'
print(str)          # Prints complete string
print(str[0])       # Prints first character of the string
print(str[2:5])     # Prints characters starting from 3rd to 5th
print(str[2:])      # Prints string starting from 3rd character
print(str * 2)      # Prints string two times
print(str + "TEST") # Prints concatenated string

******Experiment on String type*******
Hello World..!
H
llo
llo World..!
Hello World..!Hello World..!
Hello World..!TEST

In [22]:
print("******Python List type**********")
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print(list)          # Prints complete list
print(list[0])       # Prints first element of the list
print(list[1:3])     # Prints elements starting from 2nd till 4th 
print(list[2:])      # Prints elements starting from 3rd element
print(tinylist * 2)  # Prints list two times
print(list + tinylist) # Prints concatenated lists

******Python List type**********
['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [23]:
print("******Python Tuple type**********")
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print(tuple)           # Prints complete list
print(tuple[0])        # Prints first element of the list
print(tuple[1:3])      # Prints elements starting from 2nd till 3rd 
print(tuple[2:])       # Prints elements starting from 3rd element
print(tinytuple * 2)   # Prints list two times
print(tuple + tinytuple) # Prints concatenated lists

******Python Tuple type**********
('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [24]:
print("*****difference between list and tuple")
#Difference between list and tuple
#tuple[2] = 1000    # Invalid syntax with tuple
list[2] = 1000     # Valid syntax with list
print("list is ",list)
print("tuple is",tuple)

*****difference between list and tuple
list is  ['abcd', 786, 1000, 'john', 70.2]
tuple is ('abcd', 786, 2.23, 'john', 70.2)

In [25]:
print("******Python Dictionary Type**********")
"""
Dictionaries are enclosed by curly braces ({ }) and values can be 
assigned and accessed using square braces ([]).
"""
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}

#keys can be any python data type generally numbers and strings.
print(dict['one'])       # Prints value for 'one' key
print(dict[2])           # Prints value for 2 key
print(tinydict)          # Prints complete dictionary
print(tinydict.keys())  # Prints all the keys
print(tinydict.values()) # Prints all the values

******Python Dictionary Type**********
This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

In [27]:
my_str = input("Enter a string: ")  
# breakdown the string into a list of words  
words = my_str.split(',')  
# sort the list  
words.sort()  
# display the sorted words  
for word in words:  
   print(word)

Enter a string: python, data, analytics, workshop, Anokha
 Anokha
 analytics
 data
 workshop
python